.login-container {
  min-height: 100vh;
}
.login-login {
  width: 100%;
  height: auto;
  display: flex;
  padding: 130px 418px;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(50, 18, 18, 1) 0%, rgba(12, 11, 38, 1) 100%);
}
.login-vector {
  width: 80px;
  height: 90px;
  position: relative;
  margin-bottom: 29px;
}
.login-text {
  color: rgba(255, 255, 255, 1);
  width: 676px;
  height: auto;
  font-size: 64px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 29px;
  text-decoration: none;
}
.login-btninput {
  color: rgba(236, 236, 236, 1);
  width: 319px;
  height: 64px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: relative;
  font-size: 24px;
  text-align: center;
  align-items: center;
  flex-shrink: 0;
  font-family: Ubuntu;
  font-weight: 400;
  border-color: transparent;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 100px;
  margin-bottom: 29px;
  justify-content: center;
}
.login-btninput1 {
  color: rgba(236, 236, 236, 1);
  width: 319px;
  height: 64px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: relative;
  font-size: 24px;
  text-align: center;
  align-items: center;
  flex-shrink: 0;
  font-family: Ubuntu;
  font-weight: 400;
  border-color: transparent;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 100px;
  margin-bottom: 29px;
  justify-content: center;
}
.login-frame28 {
  width: 165px;
  height: 38px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 29px;
}
.login-text2 {
  top: 12px;
  left: 19px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.login-btninput2 {
  color: rgba(236, 236, 236, 1);
  width: 319px;
  height: 64px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: relative;
  font-size: 24px;
  text-align: center;
  align-items: center;
  flex-shrink: 0;
  font-family: Ubuntu;
  font-weight: 400;
  border-color: transparent;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 100px;
  justify-content: center;
}
