<div class="profileanon-twit">
  <div class="profileanon-op1">
    <app-user-image [user]="tweet?.author" (imageError)="handleUserImageError()" [blocked]="blocked" [class]="'tweet'">
    </app-user-image>
    <div class="profileanon-nameanddate1">
      <span class="profileanon-text012">
            {{tweet?.date}}
      </span>
      <app-username-hyperlink [user]="tweet?.author" [blocked]="false" [class]="'tweet'">

      </app-username-hyperlink>
    </div>

    <div class="profileanon-interactions1" *ngIf="!authorBanned">
        <span class="profileanon-text016">{{tweet?.likes?.length}}</span>

        <img
            (click)="like()"
            src="/assets/tweet/heart.svg"
            alt="IconsaxLinearheartI135"
            class="interaction-icon"
        />

        <span class="profileanon-text018">0</span>

        <img
            (click)="share()"
            src="/assets/tweet/share.svg"
            alt="IconsaxLinearrepeatI135"
            class="interaction-icon"
        />

        <span class="profileanon-text020">0</span>
        
        <img
          (click)="reply()"
          src="/assets/tweet/reply.svg"
          alt="IconsaxLinearmessageI135"
          class="interaction-icon"
        />
        

        <div *ngIf="!viewerIsAdmin && !ownTweet; else removeable" (click)="report()">
          <ng-container *ngIf="viewingUser && !tweet?.reporters?.includes(viewingUser.username); else alreadyReported">
            <span style="margin-left: 15px; margin-bottom: 5px; cursor: pointer;" class="profileanon-text020">
              report
            </span>
            <img
              src="/assets/tweet/report.png"
              alt="report"
              class="interaction-icon"
          />
          </ng-container>
          <ng-template #alreadyReported>
            <span style="margin-left: 15px; margin-bottom: 5px;" class="profileanon-text020">
              reported.
            </span>
          </ng-template>  
        </div>
        <ng-template #removeable>
          <ng-container *ngIf="!viewerIsAdmin; else adminRemoveable">
            <span class="profileanon-text020">delete</span>  
          </ng-container>
          <ng-template #adminRemoveable>
            <span class="profileanon-text020">{{tweet?.reporters?.length}} reports</span>  
          </ng-template>
          <img
                (click)="delete()"
                src="/assets/tweet/delete.png"
                alt="delete"
                class="interaction-icon"
                
            />
        </ng-template>
    </div>

  </div>
  <div class="profileanon-post1">
    <div class="profileanon-content1">
      <app-redactable-text [banned]="authorBanned" [blocked]="blocked" [class]="'tweet'">
        {{tweet?.text}}
      </app-redactable-text>
    </div>
  </div>

  <div *ngIf="!authorBanned && displayTweetMedia" class="profileanon-img2">
    <div class="profileanon-img3">
      <img
        [src]="getTweetMediaURL()"
        class="profileanon-i-m-a-g-e95537386p11"
        (error)="handleTweetMediaError()"
      />
    </div>                        
    <div class="profileanon-thread2"></div>
  </div>

</div>
