<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div>
      <link href="threaduser/profileuser.css" rel="stylesheet" />
      <link href="threaduser/nav.css" rel="stylesheet" />
      <link href="threaduser/components.css" rel="stylesheet" />
      <link href="threaduser/threaduser.css" rel="stylesheet" />
      <link href="threaduser/modal.css" rel="stylesheet" />

      <div class="profileanon-container">
        <div class="profileanon-profileanon">
          <div class="profileanon-twits">
            <div class="profileanon-container1">
              <div class="profileanon-twitslayout">
                <div class="profileanon-twit">
                  <div class="profileanon-op">
                    <div class="profileanon-pfp">
                      <img
                        src="threaduser/assets/imgi135-8bbj-200h.png"
                        alt="imgI135"
                        class="profileanon-img"
                      />
                    </div>
                    <div class="profileanon-nameanddate">
                      <span class="profileanon-text">
                        <span>02/06/23 10:42 AM</span>
                      </span>
                      <span class="profileanon-text002">
                        <span>FakeName31</span>
                      </span>
                    </div>
                    <div class="profileanon-interactions">
                      <span class="profileanon-text004"><span>300</span></span>
                      <img
                        src="threaduser/assets/iconsaxlinearhearti135-vqc.svg"
                        alt="IconsaxLinearheartI135"
                        class="profileanon-iconsax-linearheart"
                      />
                      <span class="profileanon-text006"><span>25</span></span>
                      <img
                        src="threaduser/assets/iconsaxlinearrepeati135-3ytg.svg"
                        alt="IconsaxLinearrepeatI135"
                        class="profileanon-iconsax-linearrepeat"
                      />
                      <span class="profileanon-text008"><span>10</span></span>
                      <img
                        src="threaduser/assets/iconsaxlinearmessagei135-wfjk.svg"
                        alt="IconsaxLinearmessageI135"
                        class="profileanon-iconsax-linearmessage"
                      />
                    </div>
                  </div>
                  <div class="profileanon-post">
                    <div class="profileanon-content">
                      <span class="profileanon-text010">
                        <span>
                          Elit fugiat accusantium nihil iste iusto Quidem vero
                          repellendus adipisci at quae? Esse ducimus porro ex
                          debitis perferendis assumenda. Autem placeat commodi
                          recusandae fugiat odit, at Nisi soluta maxime
                          consectetur.
                        </span>
                      </span>
                    </div>
                    <div class="profileanon-thread"></div>
                  </div>
                </div>
                <div class="profileanon-twit-variant3">
                  <div class="profileanon-op1">
                    <div class="extraimg">
                      <img
                        src="threaduser/assets/imgi135-bmp-200h.png"
                        alt="imgI135"
                        class="profileanon-img1"
                      />
                    </div>
                    <div class="profileanon-nameanddate1">
                      <span class="profileanon-text012">
                        <span>02/06/23 10:42 AM</span>
                      </span>
                      <span class="profileanon-text014">
                        <span>FakeName31</span>
                      </span>
                    </div>
                    <div class="profileanon-interactions1">
                      <span class="profileanon-text016"><span>300</span></span>
                      <img
                        src="threaduser/assets/iconsaxlinearhearti135-0d8.svg"
                        alt="IconsaxLinearheartI135"
                        class="profileanon-iconsax-linearheart1"
                      />
                      <span class="profileanon-text018"><span>25</span></span>
                      <img
                        src="threaduser/assets/iconsaxlinearrepeati135-eqaa.svg"
                        alt="IconsaxLinearrepeatI135"
                        class="profileanon-iconsax-linearrepeat1"
                      />
                      <span class="profileanon-text020"><span>10</span></span>
                      <img
                        src="threaduser/assets/iconsaxlinearmessagei135-n7p.svg"
                        alt="IconsaxLinearmessageI135"
                        class="profileanon-iconsax-linearmessage1"
                      />
                    </div>
                  </div>
                  <div class="profileanon-post1">
                    <div class="profileanon-content1">
                      <span class="profileanon-text022">
                        <span>
                          Elit fugiat accusantium nihil iste iusto Quidem vero
                          repellendus adipisci at quae? Esse ducimus porro ex
                          debitis perferendis assumenda. Autem placeat commodi
                          recusandae fugiat odit, at Nisi soluta maxime
                          consectetur.
                        </span>
                      </span>
                    </div>
                    <div class="profileanon-thread1"></div>
                  </div>
                  <div class="profileanon-img2">
                    <div class="profileanon-img3">
                      <img
                        src="threaduser/assets/image95537386p11i135-hi92j-400h.png"
                        alt="IMAGE95537386p11I135"
                        class="profileanon-i-m-a-g-e95537386p11"
                      />
                    </div>
                    <div class="profileanon-thread2"></div>
                  </div>
                </div>
                <div class="profileanon-twit1">
                  <div class="profileanon-op2">
                    <div class="extraimg">
                      <img
                        src="threaduser/assets/imgi135-n3ls-200h.png"
                        alt="imgI135"
                        class="profileanon-img4"
                      />
                    </div>
                    <div class="profileanon-nameanddate2">
                      <span class="profileanon-text024">
                        <span>02/06/23 10:42 AM</span>
                      </span>
                      <span class="profileanon-text026">
                        <span>FakeName31</span>
                      </span>
                    </div>
                    <div class="profileanon-interactions2">
                      <span class="profileanon-text028"><span>300</span></span>
                      <img
                        src="threaduser/assets/iconsaxlinearhearti135-f7cf.svg"
                        alt="IconsaxLinearheartI135"
                        class="profileanon-iconsax-linearheart2"
                      />
                      <span class="profileanon-text030"><span>25</span></span>
                      <img
                        src="threaduser/assets/iconsaxlinearrepeati135-j1jt.svg"
                        alt="IconsaxLinearrepeatI135"
                        class="profileanon-iconsax-linearrepeat2"
                      />
                      <span class="profileanon-text032"><span>10</span></span>
                      <img
                        src="threaduser/assets/iconsaxlinearmessagei135-96wl.svg"
                        alt="IconsaxLinearmessageI135"
                        class="profileanon-iconsax-linearmessage2"
                      />
                    </div>
                  </div>
                  <div class="profileanon-post2">
                    <div class="profileanon-content2">
                      <span class="profileanon-text034">
                        <span>
                          Elit fugiat accusantium nihil iste iusto Quidem vero
                          repellendus adipisci at quae? Esse ducimus porro ex
                          debitis perferendis assumenda. Autem placeat commodi
                          recusandae fugiat odit, at Nisi soluta maxime
                          consectetur.
                        </span>
                      </span>
                    </div>
                    <div class="profileanon-thread3"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="profileanon-bannercontainer">
              <img
                src="threaduser/assets/banner1353-bdcm-600h.png"
                alt="banner1353"
                class="profileanon-banner"
              />
            </div>
          </div>
          <div class="profileanon-trending">
            <span class="profileanon-text036"><span>Trending</span></span>
            <div class="profileanon-content3">
              <div class="profileanon-singletrending">
                <span class="profileanon-text038"><span>#Lorem</span></span>
                <span class="profileanon-text040"><span class="tag">31 posts</span></span>
              </div>
              <div class="profileanon-singletrending1">
                <span class="profileanon-text042"><span>ipsum</span></span>
                <span class="profileanon-text044"><span class="tag">16 posts</span></span>
              </div>
              <div class="profileanon-singletrending2">
                <span class="profileanon-text046"><span>#consectetur</span></span>
                <span class="profileanon-text048"><span class="tag">31 posts</span></span>
              </div>
              <div class="profileanon-singletrending3">
                <span class="profileanon-text050"><span>#Lorem</span></span>
                <span class="profileanon-text052"><span class="tag">31 posts</span></span>
              </div>
              <div class="profileanon-singletrending4">
                <span class="profileanon-text054"><span>ipsum</span></span>
                <span class="profileanon-text056"><span class="tag">16 posts</span></span>
              </div>
              <div class="profileanon-singletrending5">
                <span class="profileanon-text058">
                  <span>#consectetur</span>
                </span>
                <span class="profileanon-text060"><span class="tag">31 posts</span></span>
              </div>
              <div class="profileanon-singletrending6">
                <span class="profileanon-text062"><span>#Lorem</span></span>
                <span class="profileanon-text064"><span class="tag">31 posts</span></span>
              </div>
              <div class="profileanon-singletrending7">
                <span class="profileanon-text066"><span>ipsum</span></span>
                <span class="profileanon-text068"><span class="tag">16 posts</span></span>
              </div>
              <div class="profileanon-singletrending8">
                <span class="profileanon-text070">
                  <span>#consectetur</span>
                </span>
                <span class="profileanon-text072"><span class="tag">31 posts</span></span>
              </div>
            </div>
          </div>
          <div class="profileanon-nav">
            <div class="profileanon-logo">
              <div class="profileanon-group">
                <img
                  src="threaduser/assets/vector1353-vwne.svg"
                  alt="Vector1353"
                  class="profileanon-vector"
                />
              </div>
            </div>
            <div class="profileanon-btn">
              <span class="profileanon-text074"><span>Profile</span></span>
            </div>
            <div class="profileanon-btn">
              <span class="profileanon-text074"><span>Feed</span></span>
            </div>
          </div>
          <div class="profileanon-leftcomponents">
            <div class="profileanon-searchbar">
              <img
                src="threaduser/assets/iconsaxlinearboxsearchi135-6ep.svg"
                alt="IconsaxLinearboxsearchI135"
                class="profileanon-iconsax-linearboxsearch"
              />
              <span class="profileanon-text076">
                <span>search over nexus</span>
              </span>
            </div>
            <div class="profileanon-profile-variant3">
              <img
                src="threaduser/assets/vector3i135-3i6f.svg"
                alt="Vector3I135"
                class="profileanon-vector3"
              />
              <div class="profileanon-pfp3">
                <img
                  src="threaduser/assets/pfp1i135-dd5-200h.png"
                  alt="pfp1I135"
                  class="profileanon-pfp1"
                />
              </div>
              <span class="profileanon-text078"><span>FakeName31</span></span>
              <div class="profileanon-frameiconcheck">
                <img
                  src="threaduser/assets/polygon2i135-lapn.svg"
                  alt="Polygon2I135"
                  class="profileanon-polygon2"
                />
                <img
                  src="threaduser/assets/vectori135-u93o.svg"
                  alt="VectorI135"
                  class="profileanon-vector1"
                />
              </div>
              <span class="profileanon-text080"><span>12/11/22</span></span>
              <span class="profileanon-text082">
                <span>
                  Amet voluptatum eos ratione impedit sapiente, est Quis laborum
                  porro quam aperiam mollitia, est, aliquid quisquam Perferendis
                  eum vel dolorem assumenda.
                </span>
              </span>
              <div class="profileanon-btn1">
                <span class="profileanon-text084"><span>follow</span></span>
              </div>
              <span class="profileanon-text086">
                <span>13 following / 6 followers</span>
              </span>
            </div>
            <div class="profileanon-related">
              <div class="profileanon-stack">
                <span class="profileanon-text088">
                  <span>Related people</span>
                </span>
                <div class="profileanon-user">
                  <div class="profileanon-img5">
                    <img
                      src="threaduser/assets/pfp2i135-y6z-200h.png"
                      alt="pfp2I135"
                      class="profileanon-pfp2"
                    />
                  </div>
                  <span class="profileanon-text090"><span>Lorem_2</span></span>
                  <div class="profileanon-btn2">
                    <span class="profileanon-text092"><span>follow</span></span>
                  </div>
                </div>
                <div class="profileanon-user1">
                  <div class="profileanon-img6">
                    <img
                      src="threaduser/assets/pfp2i135-iyi1-200h.png"
                      alt="pfp2I135"
                      class="profileanon-pfp21"
                    />
                  </div>
                  <span class="profileanon-text094"><span>Lorem_3</span></span>
                  <div class="profileanon-btn3">
                    <span class="profileanon-text096"><span>follow</span></span>
                  </div>
                </div>
                <div class="profileanon-user2">
                  <div class="profileanon-img7">
                    <img
                      src="threaduser/assets/pfp2i135-enwl-200h.png"
                      alt="pfp2I135"
                      class="profileanon-pfp22"
                    />
                  </div>
                  <span class="profileanon-text098"><span>Lorem_4</span></span>
                  <div class="profileanon-btn4">
                    <span class="profileanon-text100"><span>follow</span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	
	<div id="blurbg" onclick="location.href='../profileuser/profileanon.html'">
	</div>

            <div class="clickedthreadanon-thread">
              <div class="clickedthreadanon-addcomment">
                <span class="clickedthreadanon-text066">
                  <span>Thats it...</span>
                </span>
                <button class="clickedthreadanon-replybutton">
                  <span class="clickedthreadanon-text068">
                    <span>add reply</span>
                  </span>
                </button>
              </div>
              <div class="clickedthreadanon-subthread2">
                <div class="clickedthreadanon-twitslayout">
                  <div class="clickedthreadanon-twit">
                    <div class="clickedthreadanon-op">
                      <div class="clickedthreadanon-pfp1">
                        <img
                          src="threaduser/assets/imgi135-de5j-200h.png"
                          alt="imgI135"
                          class="clickedthreadanon-img3"
                        />
                      </div>
                      <div class="clickedthreadanon-nameanddate">
                        <span class="clickedthreadanon-text070">
                          <span>02/06/23 10:42 AM</span>
                        </span>
                        <span class="clickedthreadanon-text072">
                          <span>FakeName31</span>
                        </span>
                      </div>
                      <div class="clickedthreadanon-interactions">
                        <span class="clickedthreadanon-text074">
                          <span>300</span>
                        </span>
                        <img
                          src="threaduser/assets/iconsaxlinearhearti135-ltdb.svg"
                          alt="IconsaxLinearheartI135"
                          class="clickedthreadanon-iconsax-linearheart"
                        />
                        <span class="clickedthreadanon-text076">
                          <span>25</span>
                        </span>
                        <img
                          src="threaduser/assets/iconsaxlinearrepeati135-ya5.svg"
                          alt="IconsaxLinearrepeatI135"
                          class="clickedthreadanon-iconsax-linearrepeat"
                        />
                        <span class="clickedthreadanon-text078">
                          <span>10</span>
                        </span>
                        <img
                          src="threaduser/assets/iconsaxlinearmessagei135-bibi.svg"
                          alt="IconsaxLinearmessageI135"
                          class="clickedthreadanon-iconsax-linearmessage"
                        />
                      </div>
                    </div>
                    <div class="clickedthreadanon-post">
                      <div class="clickedthreadanon-content1">
                        <span class="clickedthreadanon-text080">
                          <span>
                            Elit fugiat accusantium nihil iste iusto Quidem vero
                            repellendus adipisci at quae? Esse ducimus porro ex
                            debitis perferendis assumenda. Autem placeat commodi
                            recusandae fugiat odit, at Nisi soluta maxime
                            consectetur.
                          </span>
                        </span>
                      </div>
                      <div class="clickedthreadanon-thread1"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clickedthreadanon-subthread1">
                <div class="clickedthreadanon-twitslayout1">
                  <div class="clickedthreadanon-twit1">
                    <div class="clickedthreadanon-op1">
                      <div class="clickedthreadanon-pfp2">
                        <img
                          src="threaduser/assets/imgi135-ap8-200h.png"
                          alt="imgI135"
                          class="clickedthreadanon-img4"
                        />
                      </div>
                      <div class="clickedthreadanon-nameanddate1">
                        <span class="clickedthreadanon-text082">
                          <span>02/06/23 10:42 AM</span>
                        </span>
                        <span class="clickedthreadanon-text084">
                          <span>FakeName31</span>
                        </span>
                      </div>
                      <div class="clickedthreadanon-interactions1">
                        <span class="clickedthreadanon-text086">
                          <span>300</span>
                        </span>
                        <img
                          src="threaduser/assets/iconsaxlinearhearti135-0b57.svg"
                          alt="IconsaxLinearheartI135"
                          class="clickedthreadanon-iconsax-linearheart1"
                        />
                        <span class="clickedthreadanon-text088">
                          <span>25</span>
                        </span>
                        <img
                          src="threaduser/assets/iconsaxlinearrepeati135-uro.svg"
                          alt="IconsaxLinearrepeatI135"
                          class="clickedthreadanon-iconsax-linearrepeat1"
                        />
                        <span class="clickedthreadanon-text090">
                          <span>10</span>
                        </span>
                        <img
                          src="threaduser/assets/iconsaxlinearmessagei135-yfpo.svg"
                          alt="IconsaxLinearmessageI135"
                          class="clickedthreadanon-iconsax-linearmessage1"
                        />
                      </div>
                    </div>
                    <div class="clickedthreadanon-post1">
                      <div class="clickedthreadanon-content2">
                        <span class="clickedthreadanon-text092">
                          <span>
                            Elit fugiat accusantium nihil iste iusto Quidem vero
                            repellendus adipisci at quae? Esse ducimus porro ex
                            debitis perferendis assumenda. Autem placeat commodi
                            recusandae fugiat odit, at Nisi soluta maxime
                            consectetur.
                          </span>
                        </span>
                      </div>
                      <div class="clickedthreadanon-thread2">
                        <img
                          src="threaduser/assets/line5i135-7objm.svg"
                          alt="Line5I135"
                          class="clickedthreadanon-line5"
                        />
                      </div>
                      <div class="clickedthreadanon-thread3">
                        <img
                          src="threaduser/assets/line5i135-0ox.svg"
                          alt="Line5I135"
                          class="clickedthreadanon-line51"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="clickedthreadanon-twit2">
                    <div class="clickedthreadanon-op2">
                      <div class="clickedthreadanon-pfp3">
                        <img
                          src="threaduser/assets/imgi135-bju-200h.png"
                          alt="imgI135"
                          class="clickedthreadanon-img5"
                        />
                      </div>
                      <div class="clickedthreadanon-nameanddate2">
                        <span class="clickedthreadanon-text094">
                          <span>02/06/23 10:42 AM</span>
                        </span>
                        <span class="clickedthreadanon-text096">
                          <span>FakeName31</span>
                        </span>
                      </div>
                      <div class="clickedthreadanon-interactions2">
                        <span class="clickedthreadanon-text098">
                          <span>300</span>
                        </span>
                        <img
                          src="threaduser/assets/iconsaxlinearhearti135-l7sv.svg"
                          alt="IconsaxLinearheartI135"
                          class="clickedthreadanon-iconsax-linearheart2"
                        />
                        <span class="clickedthreadanon-text100">
                          <span>25</span>
                        </span>
                        <img
                          src="threaduser/assets/iconsaxlinearrepeati135-bc0o.svg"
                          alt="IconsaxLinearrepeatI135"
                          class="clickedthreadanon-iconsax-linearrepeat2"
                        />
                        <span class="clickedthreadanon-text102">
                          <span>10</span>
                        </span>
                        <img
                          src="threaduser/assets/iconsaxlinearmessagei135-x0yr.svg"
                          alt="IconsaxLinearmessageI135"
                          class="clickedthreadanon-iconsax-linearmessage2"
                        />
                      </div>
                    </div>
                    <div class="clickedthreadanon-post2">
                      <div class="clickedthreadanon-content3">
                        <span class="clickedthreadanon-text104">
                          <span>
                            Elit fugiat accusantium nihil iste iusto Quidem vero
                            repellendus adipisci at quae? Esse ducimus porro ex
                            debitis perferendis assumenda. Autem placeat commodi
                            recusandae fugiat odit, at Nisi soluta maxime
                            consectetur.
                          </span>
                        </span>
                      </div>
                      <div class="clickedthreadanon-thread4">
                        <img
                          src="threaduser/assets/line5i135-w7r.svg"
                          alt="Line5I135"
                          class="clickedthreadanon-line52"
                        />
                      </div>
                      <div class="clickedthreadanon-thread5">
                        <img
                          src="threaduser/assets/line5i135-oyho.svg"
                          alt="Line5I135"
                          class="clickedthreadanon-line53"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="clickedthreadanon-twit3">
                    <div class="clickedthreadanon-thread6">
                      <img
                        src="threaduser/assets/vector4i135-6fte.svg"
                        alt="Vector4I135"
                        class="clickedthreadanon-vector4"
                      />
                      <span class="clickedthreadanon-text106">
                        <span class="clickedthreadanon-text107">
                          see thread
                        </span>
                        <span>(+1 replies)</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clickedthreadanon-op3">
                <div class="clickedthreadanon-twit4">
                  <div class="clickedthreadanon-oppfp">
                    <img
                      src="threaduser/assets/pfp21352-8vae-200h.png"
                      alt="pfp21352"
                      class="clickedthreadanon-pfp23"
                    />
                  </div>
                  <div class="clickedthreadanon-o-p4">
                    <div class="clickedthreadanon-frame13">
                      <span class="clickedthreadanon-text109">
                        <span>FakeName31</span>
                      </span>
                      <span class="clickedthreadanon-text111">
                        <span>31/01/23 12:34 AM</span>
                      </span>
                    </div>
                    <div class="clickedthreadanon-frame22">
                      <span class="clickedthreadanon-text113">
                        <span id="aux">on-chain</span>
                      </span>
                      <img
                        src="threaduser/assets/iconsaxlinearconvert3dcube1352-skayb.svg"
                        alt="IconsaxLinearconvert3dcube1352"
                        class="clickedthreadanon-iconsax-linearconvert3dcube"
                      />
                    </div>
                  </div>
                  <div class="clickedthreadanon-txt">
                    <span class="clickedthreadanon-text115">
                      <span>
                        Hola esto es un hilo, un ejemplo de hilo bla bla bla
                        mucho texto lorem ipsum jaja
                      </span>
                    </span>
                  </div>
                  <div class="clickedthreadanon-data">
                    <span class="clickedthreadanon-text117">
                      <span>300</span>
                    </span>
                    <img
                      src="threaduser/assets/iconsaxlinearheart1353-co1q.svg"
                      alt="IconsaxLinearheart1353"
                      class="clickedthreadanon-iconsax-linearheart3"
                    />
                    <span class="clickedthreadanon-text119">
                      <span>25</span>
                    </span>
                    <img
                      src="threaduser/assets/iconsaxlinearrepeat1353-h0th.svg"
                      alt="IconsaxLinearrepeat1353"
                      class="clickedthreadanon-iconsax-linearrepeat3"
                    />
                    <span class="clickedthreadanon-text121">
                      <span>10</span>
                    </span>
                    <img
                      src="threaduser/assets/iconsaxlinearmessage1353-1v1.svg"
                      alt="IconsaxLinearmessage1353"
                      class="clickedthreadanon-iconsax-linearmessage3"
                    />
                  </div>
                </div>
              </div>
            </div>
  </body>
</html>
