.feedanon-container {
  min-height: 100vh;
  background-image: linear-gradient(150deg, rgba(30, 26, 59, 1) 0%, rgba(51, 28, 75, 1) 100%);
}
.feedanon-feedanon {
  width: 100%;
  height: 3000px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.feedanon-container1 {
  height: fit-content;
  display: flex;
  padding: 19px 23px;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 34px;
  flex-direction: column;
}
.feedanon-twitslayout {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.feedanon-twit {
  height: 147px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.feedanon-op {
  width: 521px;
  height: 55px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
}
.feedanon-pfp {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 100px;
}
.feedanon-img {
  top: -2px;
  left: -2px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: transparent;
}
.feedanon-nameanddate {
  top: 0px;
  left: 67px;
  width: 148px;
  height: 55px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.feedanon-text {
  top: 25px;
  color: rgba(224, 211, 222, 1);
  width: 148px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-text002 {
  top: 10px;
  color: rgba(255, 255, 255, 1);
  width: 148px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-interactions {
  top: 19px;
  left: 320px;
  width: 178px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.feedanon-text004 {
  color: rgba(215, 38, 61, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-iconsax-linearheart {
  width: 18px;
  height: 18px;
  position: relative;
  margin-right: 15px;
}
.feedanon-text006 {
  color: rgba(116, 179, 206, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-iconsax-linearrepeat {
  width: 18px;
  height: 18px;
  position: relative;
  margin-right: 15px;
}
.feedanon-text008 {
  color: rgba(224, 211, 222, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-iconsax-linearmessage {
  width: 18px;
  height: 18px;
  position: relative;
}
.feedanon-post {
  width: 521px;
  height: 92px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
}
.feedanon-content {
  top: 0px;
  left: 56px;
  width: 465px;
  display: flex;
  padding: 10px 20px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(90deg, rgba(83, 76, 134, 0.44999998807907104) 0%, rgba(30, 26, 59, 1) 100%);
}
.feedanon-text010 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 15px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-thread {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 92px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.feedanon-twit1 {
  height: 515px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 16px;
  flex-direction: column;
}
.feedanon-op1 {
  width: 521px;
  height: 55px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
}
.feedanon-pfp1 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 100px;
}
.feedanon-img01 {
  top: -2px;
  left: -2px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: transparent;
}
.feedanon-nameanddate1 {
  top: 0px;
  left: 67px;
  width: 148px;
  height: 55px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.feedanon-text012 {
  top: 25px;
  color: rgba(224, 211, 222, 1);
  width: 148px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-text014 {
  top: 10px;
  color: rgba(255, 255, 255, 1);
  width: 148px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-interactions1 {
  top: 19px;
  left: 320px;
  width: 178px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.feedanon-text016 {
  color: rgba(215, 38, 61, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-iconsax-linearheart1 {
  width: 18px;
  height: 18px;
  position: relative;
  margin-right: 15px;
}
.feedanon-text018 {
  color: rgba(116, 179, 206, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-iconsax-linearrepeat1 {
  width: 18px;
  height: 18px;
  position: relative;
  margin-right: 15px;
}
.feedanon-text020 {
  color: rgba(224, 211, 222, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-iconsax-linearmessage1 {
  width: 18px;
  height: 18px;
  position: relative;
}
.feedanon-post1 {
  width: 521px;
  height: 92px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
}
.feedanon-content1 {
  top: 0px;
  left: 56px;
  width: 465px;
  display: flex;
  padding: 10px 20px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(90deg, rgba(83, 76, 134, 0.44999998807907104) 0%, rgba(30, 26, 59, 1) 100%);
}
.feedanon-text022 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 15px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-thread1 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 92px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.feedanon-img02 {
  width: 521px;
  height: 368px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
}
.feedanon-img03 {
  top: 17px;
  left: 55px;
  width: 436px;
  height: 351px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
}
.feedanon-i-m-a-g-e95537386p11 {
  top: 0px;
  left: 0px;
  width: 436px;
  height: 368px;
  position: absolute;
  border-color: transparent;
}
.feedanon-thread2 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 368px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.feedanon-twit2 {
  height: 147px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 16px;
  flex-direction: column;
}
.feedanon-op2 {
  width: 521px;
  height: 55px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
}
.feedanon-pfp2 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 100px;
}
.feedanon-img04 {
  top: -2px;
  left: -2px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: transparent;
}
.feedanon-nameanddate2 {
  top: 0px;
  left: 67px;
  width: 148px;
  height: 55px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.feedanon-text024 {
  top: 25px;
  color: rgba(224, 211, 222, 1);
  width: 148px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-text026 {
  top: 10px;
  color: rgba(255, 255, 255, 1);
  width: 148px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-interactions2 {
  top: 19px;
  left: 320px;
  width: 178px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.feedanon-text028 {
  color: rgba(215, 38, 61, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-iconsax-linearheart2 {
  width: 18px;
  height: 18px;
  position: relative;
  margin-right: 15px;
}
.feedanon-text030 {
  color: rgba(116, 179, 206, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-iconsax-linearrepeat2 {
  width: 18px;
  height: 18px;
  position: relative;
  margin-right: 15px;
}
.feedanon-text032 {
  color: rgba(224, 211, 222, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-iconsax-linearmessage2 {
  width: 18px;
  height: 18px;
  position: relative;
}
.feedanon-post2 {
  width: 521px;
  height: 92px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
}
.feedanon-content2 {
  top: 0px;
  left: 56px;
  width: 465px;
  display: flex;
  padding: 10px 20px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(90deg, rgba(83, 76, 134, 0.44999998807907104) 0%, rgba(30, 26, 59, 1) 100%);
}
.feedanon-text034 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 15px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-thread3 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 92px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.feedanon-twit3 {
  height: 515px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.feedanon-op3 {
  width: 521px;
  height: 55px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
}
.feedanon-pfp3 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 100px;
}
.feedanon-img05 {
  top: -2px;
  left: -2px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: transparent;
  border-radius: 100px;
}
.feedanon-nameanddate3 {
  top: 0px;
  left: 67px;
  width: 148px;
  height: 55px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.feedanon-text036 {
  top: 25px;
  color: rgba(224, 211, 222, 1);
  width: 148px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-text038 {
  top: 10px;
  color: rgba(255, 255, 255, 1);
  width: 148px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-interactions3 {
  top: 19px;
  left: 320px;
  width: 178px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.feedanon-text040 {
  color: rgba(215, 38, 61, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-iconsax-linearheart3 {
  width: 18px;
  height: 18px;
  position: relative;
  margin-right: 15px;
}
.feedanon-text042 {
  color: rgba(116, 179, 206, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-iconsax-linearrepeat3 {
  width: 18px;
  height: 18px;
  position: relative;
  margin-right: 15px;
}
.feedanon-text044 {
  color: rgba(224, 211, 222, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-iconsax-linearmessage3 {
  width: 18px;
  height: 18px;
  position: relative;
}
.feedanon-post3 {
  width: 521px;
  height: 92px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
}
.feedanon-content3 {
  top: 0px;
  left: 56px;
  width: 465px;
  display: flex;
  padding: 10px 20px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(90deg, rgba(83, 76, 134, 0.44999998807907104) 0%, rgba(30, 26, 59, 1) 100%);
}
.feedanon-text046 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 15px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-thread4 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 92px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.feedanon-img06 {
  width: 521px;
  height: 368px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
}
.feedanon-img07 {
  top: 17px;
  left: 56px;
  width: 436px;
  height: 351px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
}
.feedanon-i-m-a-g-e95537386p111 {
  top: 0px;
  left: 0px;
  width: 436px;
  height: 368px;
  position: absolute;
  border-color: transparent;
}
.feedanon-thread5 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 368px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.feedanon-text048 {
  color: rgba(116, 179, 206, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-trending {
  top: 167px;
  left: 1223px;
  width: 379px;
  height: 322px;
  display: flex;
  padding: 20px 20px 20px 29px;
  overflow: hidden;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  border-color: rgba(83, 76, 134, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
  flex-direction: column;
  background-color: rgba(30, 26, 59, 1);
}
.feedanon-text050 {
  color: rgba(224, 211, 222, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  /* box-shadow: 0px 4px 4px 0px #534C86; */
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: #534C86;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 5px;
  text-decoration: none;
}
.feedanon-content4 {
  display: flex;
  padding: 6px 0;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: rgba(83, 76, 134, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.feedanon-singletrending {
  width: 330px;
  height: 19px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
  justify-content: center;
}
.feedanon-text052 {
  top: -2px;
  left: 4px;
  color: rgba(116, 179, 206, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-text054 {
  top: 3px;
  left: 77px;
  color: rgba(224, 211, 222, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-singletrending1 {
  width: 330px;
  height: 19px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
  justify-content: center;
}
.feedanon-text056 {
  top: -2px;
  left: 4px;
  color: rgba(116, 179, 206, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-text058 {
  top: 3px;
  left: 63px;
  color: rgba(224, 211, 222, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-singletrending2 {
  width: 330px;
  height: 19px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
  justify-content: center;
}
.feedanon-text060 {
  top: -2px;
  left: 4px;
  color: rgba(116, 179, 206, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-text062 {
  top: 3px;
  left: 135px;
  color: rgba(224, 211, 222, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-singletrending3 {
  width: 330px;
  height: 19px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
  justify-content: center;
}
.feedanon-text064 {
  top: -2px;
  left: 4px;
  color: rgba(116, 179, 206, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-text066 {
  top: 3px;
  left: 77px;
  color: rgba(224, 211, 222, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-singletrending4 {
  width: 330px;
  height: 19px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
  justify-content: center;
}
.feedanon-text068 {
  top: -2px;
  left: 4px;
  color: rgba(116, 179, 206, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-text070 {
  top: 3px;
  left: 63px;
  color: rgba(224, 211, 222, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-singletrending5 {
  width: 330px;
  height: 19px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
  justify-content: center;
}
.feedanon-text072 {
  top: -2px;
  left: 4px;
  color: rgba(116, 179, 206, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-text074 {
  top: 3px;
  left: 135px;
  color: rgba(224, 211, 222, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-singletrending6 {
  width: 330px;
  height: 19px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
  justify-content: center;
}
.feedanon-text076 {
  top: -2px;
  left: 4px;
  color: rgba(116, 179, 206, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-text078 {
  top: 3px;
  left: 77px;
  color: rgba(224, 211, 222, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-singletrending7 {
  width: 330px;
  height: 19px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
  justify-content: center;
}
.feedanon-text080 {
  top: -2px;
  left: 4px;
  color: rgba(116, 179, 206, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-text082 {
  top: 3px;
  left: 63px;
  color: rgba(224, 211, 222, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-singletrending8 {
  width: 330px;
  height: 19px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
}
.feedanon-text084 {
  top: -2px;
  left: 4px;
  color: rgba(116, 179, 206, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-text086 {
  top: 3px;
  left: 135px;
  color: rgba(224, 211, 222, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-searchbarinput {
  width: 357px;
  height: 44px;
  display: flex;
  padding: 6px 17px;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(83, 76, 134, 1);
  border-style: solid;
  border-width: 0 0 2px 0;
  border-radius: 100px;
  margin-bottom: 46px;
  justify-content: center;
  background-image: linear-gradient(270deg, rgba(83, 76, 134, 1) 0%, rgba(83, 76, 134, 0) 100%);
}
.feedanon-iconsax-linearboxsearch {
  width: 16px;
  height: 16px;
  position: relative;
  margin-right: 8px;
}
.feedanon-text088 {
  color: rgba(224, 211, 222, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-related {
  width: 357px;
  height: 437px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(83, 76, 134, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  background-color: rgba(30, 26, 59, 1);
}
.feedanon-stack {
  top: 24px;
  left: 22px;
  width: 312px;
  height: 390px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.feedanon-text090 {
  color: rgba(224, 211, 222, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 11px;
  text-decoration: none;
}
.feedanon-user {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 11px;
}
.feedanon-img08 {
  width: 50px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 7px;
  border-radius: 100px;
}
.feedanon-pfp2 {
  top: 0px;
  left: -2px;
  width: 54px;
  height: 54px;
  position: absolute;
  border-color: transparent;
}
.feedanon-text092 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 7px;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-button {
  width: 113px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(83, 76, 134, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 100px;
  justify-content: center;
  background-color: rgba(51, 46, 89, 1);
}
.feedanon-text094 {
  color: rgba(224, 211, 222, 1);
  width: 44px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-user1 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 11px;
}
.feedanon-img09 {
  width: 50px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 7px;
  border-radius: 100px;
}
.feedanon-pfp21 {
  top: 0px;
  left: -2px;
  width: 54px;
  height: 54px;
  position: absolute;
  border-color: transparent;
}
.feedanon-text096 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 7px;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-button1 {
  width: 113px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(83, 76, 134, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 100px;
  justify-content: center;
  background-color: rgba(51, 46, 89, 1);
}
.feedanon-text098 {
  color: rgba(224, 211, 222, 1);
  width: 44px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-user2 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 11px;
}
.feedanon-img10 {
  width: 50px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 7px;
  border-radius: 100px;
}
.feedanon-pfp22 {
  top: 0px;
  left: -2px;
  width: 54px;
  height: 54px;
  position: absolute;
  border-color: transparent;
}
.feedanon-text100 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 7px;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-button2 {
  width: 113px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(83, 76, 134, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 100px;
  justify-content: center;
  background-color: rgba(51, 46, 89, 1);
}
.feedanon-text102 {
  color: rgba(224, 211, 222, 1);
  width: 44px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-user3 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 11px;
}
.feedanon-img11 {
  width: 50px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 7px;
  border-radius: 100px;
}
.feedanon-pfp23 {
  top: 0px;
  left: -2px;
  width: 54px;
  height: 54px;
  position: absolute;
  border-color: transparent;
}
.feedanon-text104 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 7px;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-button3 {
  width: 113px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(83, 76, 134, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 100px;
  justify-content: center;
  background-color: rgba(51, 46, 89, 1);
}
.feedanon-text106 {
  color: rgba(224, 211, 222, 1);
  width: 44px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-user4 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 11px;
}
.feedanon-img12 {
  width: 50px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 7px;
  border-radius: 100px;
}
.feedanon-pfp24 {
  top: 0px;
  left: -2px;
  width: 54px;
  height: 54px;
  position: absolute;
  border-color: transparent;
}
.feedanon-text108 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 7px;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-button4 {
  width: 113px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(83, 76, 134, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 100px;
  justify-content: center;
  background-color: rgba(51, 46, 89, 1);
}
.feedanon-text110 {
  color: rgba(224, 211, 222, 1);
  width: 44px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-user5 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.feedanon-img13 {
  width: 50px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 7px;
  border-radius: 100px;
}
.feedanon-pfp25 {
  top: 0px;
  left: -2px;
  width: 54px;
  height: 54px;
  position: absolute;
  border-color: transparent;
}
.feedanon-text112 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 7px;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-button5 {
  width: 113px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(83, 76, 134, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 100px;
  justify-content: center;
  background-color: rgba(51, 46, 89, 1);
}
.feedanon-text114 {
  color: rgba(224, 211, 222, 1);
  width: 44px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.feedanon-text116 {
  color: rgba(224, 211, 222, 1);
  width: 72px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
