.clickedthreadanon-container {
  min-height: 100vh;
  background-image: linear-gradient(150deg, rgba(30, 26, 59, 1) 0%, rgba(51, 28, 75, 1) 100%);
}
.clickedthreadanon-clickedthreadanon {
  width: 100%;
  height: 1376px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent; 
}
.clickedthreadanon-profile-variant3 {
  top: 246px;
  left: 125px;
  width: 357px;
  height: 351px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(83, 76, 134, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  background-color: rgba(30, 26, 59, 1);
}
.clickedthreadanon-vector3 {
  top: 0px;
  left: 0px;
  width: 357px;
  height: 213px;
  position: absolute;
}
.clickedthreadanon-pfp {
  top: 20px;
  left: 20px;
  width: 109px;
  height: 109px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 4px;
  border-radius: 60px;
  justify-content: center;
}
.clickedthreadanon-pfp1 {
  width: 124px;
  height: 124px;
  position: relative;
  border-color: transparent;
}
.clickedthreadanon-text {
  top: 46px;
  left: 151px;
  color: rgba(255, 255, 255, 1);
  width: 151px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-frameiconcheck {
  top: 49px;
  left: 305px;
  width: 23px;
  height: 23px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.clickedthreadanon-polygon2 {
  top: 0px;
  left: 0px;
  width: 23px;
  height: 23px;
  position: absolute;
}
.clickedthreadanon-vector {
  top: 8.050000190734863px;
  left: 6.324999809265137px;
  width: 10px;
  height: 9px;
  position: absolute;
  box-sizing: content-box;
}
.clickedthreadanon-text002 {
  top: 72px;
  left: 151px;
  color: rgba(224, 211, 222, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-text004 {
  top: 160px;
  left: 47px;
  color: rgba(224, 211, 222, 1);
  width: 282px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-btn {
  top: 101px;
  left: 151px;
  width: 113px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-radius: 100px;
  justify-content: center;
  background-color: rgba(224, 211, 222, 1);
}
.clickedthreadanon-text006 {
  color: rgba(30, 26, 59, 1);
  width: 54px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-text008 {
  top: 290px;
  color: rgba(224, 211, 222, 1);
  width: 357px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Ubuntu;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-searchbar {
  top: 167px;
  left: 125px;
  width: 357px;
  height: 44px;
  display: flex;
  padding: 6px 17px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(83, 76, 134, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 100px;
  justify-content: center;
  background-image: linear-gradient(90deg, rgba(47, 42, 83, 1) 0%, rgba(83, 76, 134, 0) 100%);
}
.clickedthreadanon-iconsax-linearboxsearch {
  width: 16px;
  height: 16px;
  position: relative;
  margin-right: 8px;
}
.clickedthreadanon-text010 {
  color: rgba(224, 211, 222, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-related {
  top: 632px;
  left: 125px;
  width: 357px;
  height: 250px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(83, 76, 134, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  background-color: rgba(30, 26, 59, 1);
}
.clickedthreadanon-stack {
  top: 24px;
  left: 22px;
  width: 312px;
  height: 203px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.clickedthreadanon-text012 {
  color: rgba(224, 211, 222, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 11px;
  text-decoration: none;
}
.clickedthreadanon-user {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 11px;
}
.clickedthreadanon-img {
  width: 50px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 7px;
  border-radius: 100px;
}
.clickedthreadanon-pfp2 {
  top: 0px;
  left: 0px;
  width: 53px;
  height: 53px;
  position: absolute;
  border-color: transparent;
}
.clickedthreadanon-text014 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 7px;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-btn1 {
  width: 113px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(83, 76, 134, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 100px;
  justify-content: center;
  background-color: rgba(51, 46, 89, 1);
}
.clickedthreadanon-text016 {
  color: rgba(224, 211, 222, 1);
  width: 44px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-user1 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 11px;
}
.clickedthreadanon-img1 {
  width: 50px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 7px;
  border-radius: 100px;
}
.clickedthreadanon-pfp21 {
  top: 0px;
  left: -2px;
  width: 54px;
  height: 54px;
  position: absolute;
  border-color: transparent;
}
.clickedthreadanon-text018 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 7px;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-btn2 {
  width: 113px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(83, 76, 134, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 100px;
  justify-content: center;
  background-color: rgba(51, 46, 89, 1);
}
.clickedthreadanon-text020 {
  color: rgba(224, 211, 222, 1);
  width: 44px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-user2 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.clickedthreadanon-img2 {
  width: 50px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 7px;
  border-radius: 100px;
}
.clickedthreadanon-pfp22 {
  top: 0px;
  left: -2px;
  width: 54px;
  height: 54px;
  position: absolute;
  border-color: transparent;
}
.clickedthreadanon-text022 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 7px;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-btn3 {
  width: 113px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(83, 76, 134, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 100px;
  justify-content: center;
  background-color: rgba(51, 46, 89, 1);
}
.clickedthreadanon-text024 {
  color: rgba(224, 211, 222, 1);
  width: 44px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-nav {
  top: 0px;
  left: 0px;
  width: 1728px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 24px 8px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(83, 76, 134, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(30, 26, 59, 1);
}
.clickedthreadanon-logo {
  top: 38px;
  left: 16px;
  width: 23.143390655517578px;
  height: 26px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.clickedthreadanon-group {
  top: 0px;
  left: 0px;
  width: 23.143390655517578px;
  height: 26px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.clickedthreadanon-vector1 {
  top: 0px;
  left: 0px;
  width: 23px;
  height: 26px;
  position: absolute;
}
.clickedthreadanon-btn4 {
  top: 8px;
  left: 1602px;
  width: 113px;
  height: 33px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(83, 76, 134, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 100px;
  justify-content: center;
  background-color: rgba(51, 46, 89, 1);
}
.clickedthreadanon-text026 {
  color: rgba(224, 211, 222, 1);
  width: 72px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-trending {
  top: 167px;
  left: 1208px;
  width: 379px;
  height: 322px;
  display: flex;
  padding: 20px 20px 20px 29px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(83, 76, 134, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(30, 26, 59, 1);
}
.clickedthreadanon-text028 {
  color: rgba(224, 211, 222, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 5px;
  text-decoration: none;
}
.clickedthreadanon-content {
  display: flex;
  padding: 6px 0;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: rgba(83, 76, 134, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.clickedthreadanon-singletrending {
  width: 330px;
  height: 19px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
  justify-content: center;
}
.clickedthreadanon-text030 {
  top: -2px;
  left: 4px;
  color: rgba(116, 179, 206, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-text032 {
  top: 3px;
  left: 77px;
  color: rgba(224, 211, 222, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-singletrending1 {
  width: 330px;
  height: 19px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
  justify-content: center;
}
.clickedthreadanon-text034 {
  top: -2px;
  left: 4px;
  color: rgba(116, 179, 206, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-text036 {
  top: 3px;
  left: 63px;
  color: rgba(224, 211, 222, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-singletrending2 {
  width: 330px;
  height: 19px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
  justify-content: center;
}
.clickedthreadanon-text038 {
  top: -2px;
  left: 4px;
  color: rgba(116, 179, 206, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-text040 {
  top: 3px;
  left: 135px;
  color: rgba(224, 211, 222, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-singletrending3 {
  width: 330px;
  height: 19px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
  justify-content: center;
}
.clickedthreadanon-text042 {
  top: -2px;
  left: 4px;
  color: rgba(116, 179, 206, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-text044 {
  top: 3px;
  left: 77px;
  color: rgba(224, 211, 222, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-singletrending4 {
  width: 330px;
  height: 19px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
  justify-content: center;
}
.clickedthreadanon-text046 {
  top: -2px;
  left: 4px;
  color: rgba(116, 179, 206, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-text048 {
  top: 3px;
  left: 63px;
  color: rgba(224, 211, 222, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-singletrending5 {
  width: 330px;
  height: 19px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
  justify-content: center;
}
.clickedthreadanon-text050 {
  top: -2px;
  left: 4px;
  color: rgba(116, 179, 206, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-text052 {
  top: 3px;
  left: 135px;
  color: rgba(224, 211, 222, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-singletrending6 {
  width: 330px;
  height: 19px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
  justify-content: center;
}
.clickedthreadanon-text054 {
  top: -2px;
  left: 4px;
  color: rgba(116, 179, 206, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-text056 {
  top: 3px;
  left: 77px;
  color: rgba(224, 211, 222, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-singletrending7 {
  width: 330px;
  height: 19px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
  justify-content: center;
}
.clickedthreadanon-text058 {
  top: -2px;
  left: 4px;
  color: rgba(116, 179, 206, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-text060 {
  top: 3px;
  left: 63px;
  color: rgba(224, 211, 222, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-singletrending8 {
  width: 330px;
  height: 19px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
}
.clickedthreadanon-text062 {
  top: -2px;
  left: 4px;
  color: rgba(116, 179, 206, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-text064 {
  top: 3px;
  left: 135px;
  color: rgba(224, 211, 222, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-modal {
  top: 50px;
  left: 0px;
  width: 1728px;
  height: 1326px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.33000001311302185);
}
:root {
	--thread: 308px;
}
.clickedthreadanon-thread {
  top: 117px;
  left: calc(50% - var(--thread));
  width: calc(var(--thread) * 2);
  height: 914px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 7px 7px 0px 0px rgba(83, 76, 134, 1) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(83, 76, 134, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  background-color: rgba(30, 26, 59, 1);
}
.clickedthreadanon-addcomment {
  top: 809px;
  left: 1px;
  width: 614px;
  height: 115px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.clickedthreadanon-text066 {
  top: 13px;
  left: 265px;
  color: rgba(83, 76, 134, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-replybutton {
  top: 47px;
  left: 245px;
  width: 124px;
  height: 34px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(215, 38, 61, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 87px;
  background-color: rgba(224, 211, 222, 1);
}
.clickedthreadanon-text068 {
  top: 6px;
  left: 28px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
  justify-content: center;
  vertical-align: center;
}
.clickedthreadanon-subthread2 {
  top: 615px;
  left: 1px;
  width: 614px;
  height: 194px;
  display: flex;
  padding: 19px 23px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(83, 76, 134, 1);
  border-style: dashed;
  border-width: 0 0 2px 0;
  flex-direction: column;
}
.clickedthreadanon-twitslayout {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.clickedthreadanon-twit {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(30, 26, 59, 1);
}
.clickedthreadanon-op {
  width: 568px;
  height: 55px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
}
.clickedthreadanon-pfp1 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 100px;
}
.clickedthreadanon-img3 {
  top: -2px;
  left: -2px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: transparent;
}
.clickedthreadanon-nameanddate {
  top: 0px;
  left: 67px;
  width: 148px;
  height: 55px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.clickedthreadanon-text070 {
  top: 25px;
  color: rgba(224, 211, 222, 1);
  width: 148px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-text072 {
  top: 10px;
  color: rgba(255, 255, 255, 1);
  width: 148px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-interactions {
  top: 19px;
  left: 367px;
  width: 178px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.clickedthreadanon-text074 {
  color: rgba(215, 38, 61, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-iconsax-linearheart {
  width: 18px;
  height: 18px;
  position: relative;
  margin-right: 15px;
}
.clickedthreadanon-text076 {
  color: rgba(116, 179, 206, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-iconsax-linearrepeat {
  width: 18px;
  height: 18px;
  position: relative;
  margin-right: 15px;
}
.clickedthreadanon-text078 {
  color: rgba(224, 211, 222, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-iconsax-linearmessage {
  width: 18px;
  height: 18px;
  position: relative;
}
.clickedthreadanon-post {
  width: 568px;
  height: 92px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
}
.clickedthreadanon-content1 {
  top: 0px;
  left: 56px;
  width: 512px;
  display: flex;
  padding: 10px 20px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(90deg, rgba(47, 42, 83, 1) 0%, rgba(83, 76, 134, 0) 100%);
}
.clickedthreadanon-text080 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 15px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-thread1 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 92px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.clickedthreadanon-subthread1 {
  top: 240px;
  left: 1px;
  width: 614px;
  height: 375px;
  display: flex;
  padding: 19px 23px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(83, 76, 134, 1);
  border-style: dashed;
  border-width: 0 0 2px 0;
  flex-direction: column;
}
.clickedthreadanon-twitslayout1 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.clickedthreadanon-twit1 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
  background-color: rgba(30, 26, 59, 1);
}
.clickedthreadanon-op1 {
  width: 568px;
  height: 55px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
}
.clickedthreadanon-pfp2 {
  top: 0px;
  left: 0px;
  width: 53px;
  height: 53px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 100px;
}
.clickedthreadanon-img4 {
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: transparent;
}
.clickedthreadanon-nameanddate1 {
  top: 0px;
  left: 67px;
  width: 148px;
  height: 55px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.clickedthreadanon-text082 {
  top: 25px;
  color: rgba(224, 211, 222, 1);
  width: 148px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-text084 {
  top: 10px;
  color: rgba(255, 255, 255, 1);
  width: 148px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-interactions1 {
  top: 19px;
  left: 367px;
  width: 178px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.clickedthreadanon-text086 {
  color: rgba(215, 38, 61, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-iconsax-linearheart1 {
  width: 18px;
  height: 18px;
  position: relative;
  margin-right: 15px;
}
.clickedthreadanon-text088 {
  color: rgba(116, 179, 206, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-iconsax-linearrepeat1 {
  width: 18px;
  height: 18px;
  position: relative;
  margin-right: 15px;
}
.clickedthreadanon-text090 {
  color: rgba(224, 211, 222, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-iconsax-linearmessage1 {
  width: 18px;
  height: 18px;
  position: relative;
}
.clickedthreadanon-post1 {
  width: 568px;
  height: 92px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
}
.clickedthreadanon-content2 {
  top: 0px;
  left: 56px;
  width: 512px;
  display: flex;
  padding: 10px 20px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(90deg, rgba(47, 42, 83, 1) 0%, rgba(83, 76, 134, 0) 100%);
}
.clickedthreadanon-text092 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 15px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-thread2 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 92px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.clickedthreadanon-line5 {
  top: 0px;
  left: 28px;
  width: 92px;
  height: 0px;
  position: absolute;
}
.clickedthreadanon-thread3 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 92px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.clickedthreadanon-line51 {
  top: 0px;
  left: 28px;
  width: 92px;
  height: 0px;
  position: absolute;
}
.clickedthreadanon-twit2 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
  background-color: rgba(30, 26, 59, 1);
}
.clickedthreadanon-op2 {
  width: 568px;
  height: 55px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
}
.clickedthreadanon-pfp3 {
  top: 0px;
  left: 0px;
  width: 53px;
  height: 53px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 100px;
}
.clickedthreadanon-img5 {
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: transparent;
}
.clickedthreadanon-nameanddate2 {
  top: 0px;
  left: 67px;
  width: 148px;
  height: 55px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.clickedthreadanon-text094 {
  top: 25px;
  color: rgba(224, 211, 222, 1);
  width: 148px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-text096 {
  top: 10px;
  color: rgba(255, 255, 255, 1);
  width: 148px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-interactions2 {
  top: 19px;
  left: 367px;
  width: 178px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.clickedthreadanon-text098 {
  color: rgba(215, 38, 61, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-iconsax-linearheart2 {
  width: 18px;
  height: 18px;
  position: relative;
  margin-right: 15px;
}
.clickedthreadanon-text100 {
  color: rgba(116, 179, 206, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-iconsax-linearrepeat2 {
  width: 18px;
  height: 18px;
  position: relative;
  margin-right: 15px;
}
.clickedthreadanon-text102 {
  color: rgba(224, 211, 222, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-iconsax-linearmessage2 {
  width: 18px;
  height: 18px;
  position: relative;
}
.clickedthreadanon-post2 {
  width: 568px;
  height: 92px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
}
.clickedthreadanon-content3 {
  top: 0px;
  left: 56px;
  width: 512px;
  display: flex;
  padding: 10px 20px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(90deg, rgba(47, 42, 83, 1) 0%, rgba(83, 76, 134, 0) 100%);
}
.clickedthreadanon-text104 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 15px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-thread4 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 92px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.clickedthreadanon-line52 {
  top: 0px;
  left: 28px;
  width: 92px;
  height: 0px;
  position: absolute;
}
.clickedthreadanon-thread5 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 92px;
  overflow: hidden;
  position: absolute;
  flex-shrink: 0;
  border-color: transparent;
}
.clickedthreadanon-line53 {
  top: 0px;
  left: 28px;
  width: 92px;
  height: 0px;
  position: absolute;
}
.clickedthreadanon-twit3 {
  width: 568px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(30, 26, 59, 1);
}
.clickedthreadanon-thread6 {
  top: 0px;
  left: 0px;
  width: 215px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.clickedthreadanon-vector4 {
  top: 0px;
  left: 29px;
  width: 43px;
  height: 29px;
  position: absolute;
}
.clickedthreadanon-text106 {
  top: 24px;
  left: 74px;
  color: rgba(116, 179, 206, 1);
  width: 144px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
  transform: translate(0, -4px);
}
.clickedthreadanon-text107 {
  color: rgba(116, 179, 206, 1);
}
.clickedthreadanon-op3 {
  top: 0px;
  left: 0px;
  width: 615px;
  height: 240px;
  display: flex;
  padding: 19px 23px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(83, 76, 134, 1);
  border-style: dashed;
  border-width: 0 0 2px 0;
  flex-direction: column;
  justify-content: center;
}
.clickedthreadanon-twit4 {
  width: 569px;
  height: 202px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(30, 26, 59, 1);
}
.clickedthreadanon-oppfp {
  top: 11px;
  left: 11px;
  width: 70px;
  height: 70px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(83, 76, 134, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 100px;
}
.clickedthreadanon-pfp23 {
  top: -4px;
  left: -5px;
  width: 79px;
  height: 79px;
  position: absolute;
  border-color: transparent;
}
.clickedthreadanon-o-p4 {
  top: 14px;
  left: 81px;
  width: 481px;
  height: 55px;
  display: flex;
  padding: 0 7px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.clickedthreadanon-frame13 {
  top: 0px;
  left: 7px;
  width: 243px;
  height: 55px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.clickedthreadanon-text109 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
  padding-top: 16px;
}
.clickedthreadanon-text111 {
  color: rgba(224, 211, 222, 1);
  height: auto;
  flex-grow: 1;
  font-size: 14px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-frame22 {
  top: 16px;
  left: 394px;
  width: 81px;
  height: 22px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
}
.clickedthreadanon-text113 {
  top: 4.5px;
  color: rgba(116, 179, 206, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
#aux {
	margin-right: 28px;
}
.clickedthreadanon-iconsax-linearconvert3dcube {
  top: 5.5px;
  left: 57px;
  width: 14px;
  height: 14px;
  position: absolute;
  flex-grow: 1;
}
.clickedthreadanon-txt {
  top: 94px;
  left: 9px;
  width: 560px;
  height: 67px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
  background-color: rgba(30, 26, 59, 1);
  background-image: linear-gradient(90deg, rgba(47, 42, 83, 1) 0%, rgba(83, 76, 134, 0) 100%);
}
.clickedthreadanon-text115 {
  top: 7px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  width: 514px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-data {
  top: 174px;
  left: 18px;
  width: 228px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.clickedthreadanon-text117 {
  color: rgba(215, 38, 61, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 25px;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-iconsax-linearheart3 {
  width: 18px;
  height: 18px;
  position: relative;
  margin-right: 25px;
}
.clickedthreadanon-text119 {
  color: rgba(116, 179, 206, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 25px;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-iconsax-linearrepeat3 {
  width: 18px;
  height: 18px;
  position: relative;
  margin-right: 25px;
}
.clickedthreadanon-text121 {
  color: rgba(224, 211, 222, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 25px;
  margin-bottom: 0;
  text-decoration: none;
}
.clickedthreadanon-iconsax-linearmessage3 {
  width: 18px;
  height: 18px;
  position: relative;
}
