:host {
	--feed: 308px;
	--right: 189px;
	--dist: 50px;
	--left: 178px;
}

.profileanon-twits {
  top: 167px;
  left: calc(50% - var(--feed));
  width: 616px;
  height: 1160px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(83, 76, 134, 1);
  border-style: dashed;
  border-width: 2px;
  border-radius: 50px;
  background-color: rgba(30, 26, 59, 1);
}

.profileanon-trending {
  top: 167px;
  left: calc(50% + var(--feed) + var(--dist));
  width: calc(var(--right) * 2);
  height: 322px;
  display: flex;
  padding: 20px 20px 20px 29px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(83, 76, 134, 1);
  border-style: solid;
  border-width: 0 0 2px 0;
  border-radius: 25px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(30, 26, 59, 1);
}

.profileanon-leftcomponents {
  top: 167px;
  left: calc(50% - var(--feed) - var(--left)*2 - var(--dist));
  width: calc(var(--left) * 2);
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}

@media only screen and (max-width: 1440px) {
	.profileanon-twits {
		transform: scale(0.8);
  		top: 50px;
	}
	.profileanon-trending {
		transform: scale(0.8) translate(-140px, 0px);
	}
	.profileanon-leftcomponents {
		transform: scale(0.8) translate(140px, -40px);
	}
}
@media only screen and (max-width: 1135px) {
	.profileanon-twits {
		transform: scale(0.75);
  		top: 50px;
	}
	.profileanon-trending {
		transform: scale(0.75) translate(-210px, 0px);
	}
	.profileanon-leftcomponents {
		transform: scale(0.75) translate(210px, -40px);
	}
}

.tag {
	margin-left: 8px;
}

.profileanon-img1 {
	border-radius: 100px;
	width: 55px;
	height: 55px;
	top: 0;
	left: 0;
}

.profileanon-img4 {
	border-radius: 100px;
	width: 55px;
	height: 55px;
	top: 0;
	left: 0;
}

.profileanon-twit-variant3 {
	margin-top: 10px;
}

.profileanon-container1 {
	height: auto;
}

.profileanon-bannercontainer {
	width: 100%;
}
