<!-- Made by group 13 A -->
<a href="/u/{{profileUser.username}}/ban">
    {{#authenticated}}
    {{^ownProfile}}
    {{#loggedUser.isAdmin}}
            <div>
                {{#profileUser.isBanned}}
                <span class="profileanon-text06">[UNBAN USER]</span>
                {{/profileUser.isBanned}}
                {{^profileUser.isBanned}}
                <span class="profileanon-text06">[BAN USER]</span>
                {{/profileUser.isBanned}}
            </div> 
    {{/loggedUser.isAdmin}}   
    {{/ownProfile}}
    {{/authenticated}}
</a>