<!-- Made by group 13 A -->
<link href="/profileuser/profileuser.css" rel="stylesheet" />
<div class="profileanon-twit">
  <div class="profileanon-op1">
	<div class="extraimg">
	  <img
		src="/u/{{author.username}}/profilepicture"
		alt="imgI135"
		class="profileanon-img1"
	  />
	</div>
	<div class="profileanon-nameanddate1">
	  <span class="profileanon-text012">
		<span>{{date}}</span>
	  </span>
	  {{^author.isBanned}}
	  <a href="/u/{{author.username}}">
		<span class="profileanon-text014">
			{{author.username}}		
		</span>
	  </a>
	  {{/author.isBanned}}
	  {{#author.isBanned}}
	    <span class="profileanon-text014">
		  [banned]
	    </span>
	  {{/author.isBanned}}
	</div>
	{{^author.isBanned}}
	<div class="profileanon-interactions1">
	
	  <span class="profileanon-text016">{{likes.size}}</span>
	  <a href="/tweet/{{id}}/like">
		  <img
			src="/profileuser/assets/iconsaxlinearhearti135-0d8.svg"
			alt="IconsaxLinearheartI135"
			class="profileanon-iconsax-linearheart1"
		  />
	  </a>
	  <span class="profileanon-text018">{{shares.size}}</span>
	  <img
		src="/profileuser/assets/iconsaxlinearrepeati135-eqaa.svg"
		alt="IconsaxLinearrepeatI135"
		class="profileanon-iconsax-linearrepeat1"
	  />
	  <span class="profileanon-text020">{{children.size}}</span>
	  <img
		src="/profileuser/assets/iconsaxlinearmessagei135-n7p.svg"
		alt="IconsaxLinearmessageI135"
		class="profileanon-iconsax-linearmessage1"
	  />	
	  {{#loggedUser.isAdmin}}

	  {{#reporters.isEmpty}}
	  <a style="margin-left: 15px" href="/tweet/{{id}}/report">
	    <span  class="profileanon-text020">report</span>  
	  </a>
	  <a href="/tweet/{{id}}/report">
		<img
		src="/tweets/report.png"
		alt="IconsaxLinearmessageI135"
		class="profileanon-iconsax-linearmessage1"
		/>
	  </a>
	  {{/reporters.isEmpty}}
	  {{^reporters.isEmpty}}
	  <span  style="margin-left: 15px"class="profileanon-text020">{{reporters.size}} reports</span>  
	  <a href="/tweet/{{id}}/delete">
		<img
		  src="/tweets/delete.png"
		  alt="IconsaxLinearmessageI135"
		  class="profileanon-iconsax-linearmessage1"
		/>
	  </a>
	  {{/reporters.isEmpty}}
	  
	  {{/loggedUser.isAdmin}}
	  {{^loggedUser.isAdmin}}
	  <a style="margin-left: 15px" href="/tweet/{{id}}/report">
	    <span  class="profileanon-text020">report</span>  
	  </a>
	  <a href="/tweet/{{id}}/report">
		<img
		src="/tweets/report.png"
		alt="IconsaxLinearmessageI135"
		class="profileanon-iconsax-linearmessage1"
		/>
	  </a>
	  {{/loggedUser.isAdmin}}
	</div>
	{{/author.isBanned}}
  </div>
  <div class="profileanon-post1">
	<div class="profileanon-content1">
	  <span class="profileanon-text022">
		{{^author.isBanned}}
		  {{text}}
		{{/author.isBanned}}
		{{#author.isBanned}}
		  This user has been banned.
		{{/author.isBanned}}
	  </span>
	</div>
  </div>
  {{^author.isBanned}}
  {{#hasMedia}}
  <div class="profileanon-img2">
	<div class="profileanon-img3">
	  <a href="/tweet/{{id}}/media">
	    <img
		  src="/tweet/{{id}}/media"
		  class="profileanon-i-m-a-g-e95537386p11"
	    />
	  </a>
	</div>                        
	<div class="profileanon-thread2"></div>
  </div>
  {{/hasMedia}}
  {{/author.isBanned}}
</div>
